@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #eff5f5;
  font-family: "Montserrat";
 
}

.container {
  width: 1344px;
  padding: 15px;
  margin: 0 auto;
}

/* =========header nav=========== */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

.list {
  display: flex;
  align-items: center;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #626262;
  margin-left: 24px;
  width: 120px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link:hover {
  background: #ffffff;
  box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
  border-radius: 6px;
}

/* =========header nav=========== */

/* ============header content============ */

.header_content {
  height: 736px;
  background: url(../img/backround.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content_text {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  width: 530px;
  color: #323232;
  padding-left: 63px;
}

.content_foto {
  padding-right: 63px;
}

/* ============header content============ */

/* ============section exchange================ */

.exchange {
  margin-top: 119px;
}

.exchange_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.exchange_img {
  width: 635px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  position: relative;
  top: -180px;
  left: 300px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #eaeaea;
  box-shadow: 0px 59px 30px -40px rgba(0, 133, 255, 0.1);
  backdrop-filter: blur(30px);
  border-radius: 20px;
  opacity: 0.8;
}

.img1 {
  padding-left: 99px;
}
.img2 {
  padding-right: 99px;
}

.exchange_right h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #626262;
  margin-bottom: 32px;
  margin-left: 20px;
}

.exchange_right {
  margin-left: 120px;
}

/* ============section exchange================ */

/* =============section visa=================== */

.visa {
  margin-top: 50px;
}

.visa_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visa_left h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #626262;
}

.visa_text {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  padding: 12px 0 20px 0;
}

.commission {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #626262;
}

.card_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #626262;
  padding: 20px 0 20px 0;
}

.visa_link {
  width: 280px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visa_link a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #626262;
  width: 190px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.visa_link a:hover {
  background: #ffffff;
  box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
  border-radius: 6px;
}

/* =============section visa=================== */

/* =============section loan offers============= */

.loan_offers {
  margin-top: 50px;
}

.offers_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offers_main-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #626262;
  text-align: center;
  padding-bottom: 20px;
}

.offers_left-card {
  background: #bdc4ff;
  box-shadow: 0px 40px 30px -25px rgba(189, 196, 255, 0.5);
  border-radius: 10px;
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offers_right-card {
  background: #ffd280;
  box-shadow: 0px 40px 30px -25px rgba(255, 210, 128, 0.4);
  border-radius: 10px;
  width: 49%;
  display: flex;
  align-items: center;
}

.left_side-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  padding: 20px 0 20px 20px;
}

.small_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323232;
  padding-left: 20px;
}

.terms {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #323232;
  padding: 20px 0 20px 20px;
}

.left_side-link a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323232;
  width: 190px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  margin: 0 0 20px 20px;
}

.left_side-link a:hover {
  background: #ffffff;
  box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
  border-radius: 6px;
}

.hit {
  position: relative;
  top: -10px;
  left: 20px;
}

.right_side {
  margin-right: 20px;
}

.offer_link-down a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323232;
  width: 190px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  margin: 0 auto;
  margin-top: 30px;
}

.offer_link-down a:hover {
  background: #ffffff;
  box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
  border-radius: 6px;
}

/* =============section loan offers============= */

/* =============mobile app===================== */

.mobile_app {
  margin-top: 50px;
}

.app_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app_content-left {
  background: #97eab9;
  box-shadow: 0px 40px 30px -25px rgba(151, 234, 185, 0.4);
  border-radius: 10px;
  width: 48%;
  height: 487px;
}

.app_content-right {
  width: 48%;
}

.app_up {
  background: #ffc1bd;
  box-shadow: 0px 25px 30px -20px rgba(255, 193, 189, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 221px;
  margin-bottom: 42px;
}
.app_up h2 {
  padding-left: 30px;
}

.app_up img {
  padding-right: 30px;
}

.app_down {
  background: #c1b7ff;
  box-shadow: 0px 25px 30px -25px rgba(193, 183, 255, 0.4);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 221px;
}

.app_down h2 {
  padding-right: 60px;
}

.app_down img {
  padding-left: 60px;
}

.app_main-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #626262;
  text-align: center;
  padding-bottom: 30px;
}

.app_content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app_content-left h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #626262;
  text-align: center;
  padding: 25px 0 25px 0;
}

.app_footer-content {
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 32px;
}

.footer_google {
  width: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.footer_google:hover {
  background: #ffffff;
  box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
  border-radius: 12px;
}

.footer_app {
  width: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.footer_app:hover {
  background: #ffffff;
  box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
  border-radius: 12px;
}

/* =============mobile app===================== */

/* ===============footer===================== */

.footer {
  margin-top: 100px;
}

.footer-content {
  text-align: center;
}

.footer-content h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  border-bottom: 20px;
}

/* ===============footer===================== */
